*.log
.DS_Store
phpinfo.php
Thumbs.db
/cache/*
/.idea/*
/config-js-version.php
/config_override.php
/tmp/
/upload/
/custom/screenshots/
/test_*.php
/custom/blowfish/*
/custom/history/*
/custom/modulebuilder/*
/custom/working/*
/custom/application/Ext/
/custom/modules/*/Ext/
/modules/AOD_Index/Index/*
/ExtGenerator/*
/plugin/debug*.*
/plugin/source/readme.txt
/plugin/plugin-*.zip
/public/

/front/.idea
/trySQL/.idea
/front/node_modules
/trySQL/node_modules
/front/dist
/trySQL/public
/front/src/App.vue
modules/HRPAC_VACANCY/tpl/filter.html
nbproject/
/vendor
/logs/*
.env